html, body, h1, h2{
    padding: 0;
    text-align: center;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0.4em;
}

form{
    margin: 2em 20%;
    padding: 1em;
}


#footer {
    text-align: center;
    margin: 2em 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}