html, body, h1, h2{
    padding: 0;
    text-align: center;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#content{
    margin: 0 16em; /* Use shorthand for margin */
    padding-bottom: 3em;
    text-align: center;
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0;
}

/* Style sheet for the form*/
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


#footer {
    text-align: center;
    margin: 2em 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}